In [27]:
if a <= 10:
    print('True')

True

In [23]:
if a <= 10:
    print('False')

False

In [29]:
if a < 10:
    print('True')

True

In [31]:
if a < 12:
    print('True')

True

In [32]:
if a < 13:
    print('True')

True

In [36]:
if b < 10:
    print('False')

False

In [37]:
if b < 12:
    print('False')

False

In [41]:
if b < 4:
    print('False')

False

In [42]:
if a < 10 and b < 5:
     print('True')

True

In [43]:
if a < 13 and b < 7:
     print('True')

True

In [44]:
if a < 9 and b < 9:
     print('True')

True

In [47]:
if a < 10 and b < 5:
     print('False')

False

In [48]:
if a < 11 and b < 4:
     print('False')

False

In [49]:
if a < 15 and b < 6:
    print('False')

False

In [52]:
if 'a' in ['a','b','c']:
    print('True')

True

In [55]:
if 'w' in ['q','m','w']:
    print('True')

True

In [56]:
if 'o' in ['o','r','p']:
    print('True')

True

In [57]:
if 'a' in ['a','b','c']:
    print('False')

False

In [58]:
if 'c' in ['a','b','c']:
    print('False')

False

In [59]:
if 'v' in ['a','v','c']:
    print('False')

False

In [68]:
if a is a:
    print("False")

False

In [2]:
for k in [0,1,2,3,4,5]:
    print(k)

0
1
2
3
4
5

In [3]:
my_list = [0,1,2,3,4,5,]
for k in my_list:
    print(k)

0
1
2
3
4
5

In [5]:
my_list = [0,1,2,3,4,5,]
for k in my_list:
    if k % 2 ==0:
        print(k)

0
2
4

In [7]:
my_list = [0,1,2,3,4,5,]
for k in my_list:
    if k == 3:
        print(k)

3

In [8]:
my_list = [0,1,2,3,4,5,]
for k in my_list:
    if k != 3:
        print(k)

0
1
2
4
5

In [9]:
my_list = [0,1,2,3,4,5,]
for k in my_list:
    if k == 3:
        print(k)
        break

3

In [11]:
my_list = [0,1,2,3,4,5,]
for k in my_list:
    if 2 <= k and k <= 4:
        print(k)

2
3
4

In [13]:
my_list = [0,1,2,3,4,5,]
for k in my_list:
    if 2 > k or k > 4:
        print(k)

0
1
5

In [15]:
my_list = ['okinawa','tokyo','osaka','fukuoka','hokkaido']
for i in my_list:
    if i == "okinawa":
        print(i)

okinawa

In [16]:
my_list = [0,1,2,3,4,5]
my_sun = 0
for k in my_list:
    if k % 2 == 0:
        my_sun - my_sun * k 
print(my_sun)

0

In [18]:
for k in range(11):
    print(k)

0
1
2
3
4
5
6
7
8
9
10

In [19]:
for k in range(11):
    if k == 4:
        break
    print(k)

0
1
2
3

In [21]:
for k in range(11):
    if k != 3:
        continue
    print(k)

3

In [22]:
my_str = "okinawa"
for k in my_str:
    print(k)

o
k
i
n
a
w
a

In [23]:
my_list = ['okinawa','tokyo','osaka','fukuoka','hokkaido']
for k in my_list:
    print(k.upper())

OKINAWA
TOKYO
OSAKA
FUKUOKA
HOKKAIDO

In [37]:
my_list = ['okinawa','tokyo','osaka','fukuoka','hokkaido']
for k in my_list:
    for l in k:
        print(l)

o
k
i
n
a
w
a
t
o
k
y
o
o
s
a
k
a
f
u
k
u
o
k
a
h
o
k
k
a
i
d
o

In [38]:
a = 0
while a < 10:
    print(a)
    a = a + 1

0
1
2
3
4
5
6
7
8
9

In [39]:
a = 0
while a < 10:
    if a % 2 ==0:
        print(a)
    a = a + 1

0
2
4
6
8

In [ ]:
f = open('hello.txt','w')
f,